body {
    background: #dddddd -webkit-linear-gradient(#dddddd, #eeeeee);
}

pre {
    margin: 0 auto;
    text-align: center;
}

code {
    color: white;
    text-align: left;
    color: #26503e;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.panel-item {
    flex: 2;
}

.screen-container {
    position: relative;
    background: -webkit-linear-gradient(#86C06C, #93ba36);
    width: 650px;
    height: 320px;
    margin: 30px auto;
    border: 40px solid #4b5159;
    box-shadow: inset 5px 8px 20px 5px rgb(81, 97, 72);
    border-radius: 40px;
    z-index: 3;
}

.hud-container {
    display: flex;
    height: 50px;
}

.hud-item {
    flex: 1;
}

.text-panel {
    font-size: 20px;
    width: 650px;
    height: 320px;
    margin: auto;
    text-align: center;
    box-shadow: inset 5px 8px 20px 5px rgb(81, 97, 72);
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        transform: scale(0, 0);
        opacity: 0.3;
        box-shadow: none;
    }

    10%, 30% {
        transform: scale(1, 0.01);
        opacity: 0.8;
        box-shadow: none;
    }

    60% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    10%, 30% {
        transform: scale(1, 0.01);
        opacity: 0.8;
        box-shadow: none;
    }

    60% {
        transform: scale(0, 0);
        opacity: 0.3;
        box-shadow: none;
    }
}

.lamp {
    background: #ba2138;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 30%;
    left: -4%;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 183, 183, 0.814);
    z-index: 4;
}

#Title {
    font-weight: bold;
    color: #0f380f;
    font-size: 30px;
    font-family: 'Kemco Pixel', sans-serif;
}

.media-scroller {
    display: none;
    ;
    gap: 1rem;
    grid-auto-flow: column;
    padding: 1rem 1rem 1rem 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin: 0 5em 0;
}

.main-menu .media-scroller {
    display: grid
}

.media-scroller::-webkit-scrollbar {
    width: 0;
}

.media-element {
    display: grid;
    width: 112px;
    height: 150px;
    grid-template-rows: min-content;
    gap: 1rem;
    padding: 0.2rem;
    ;
    border-radius: 10px;
    background-color: #cadc9f;
    cursor: pointer;
    text-align: center;
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.rotate-animation {
    animation: rotate 1s forwards;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.image-box {
    margin: 0 auto;
    padding: 0;
    padding-top: 5px;
}

.box-img {
    height: 80px;
    filter: sepia(0.5)
}

.media-element p {
    color: #0f380f;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.media-element>img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem 1rem;
}

.snaps-inline>* {
    scroll-snap-align: start;
}

.media-element:hover {
    background-color: #8bac0f;
    transform: scale(1.035, 1.035);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
}

.media-element-chosen {
    background-color: #8bac0f;
    transform: scale(1.035, 1.035);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
}

.media-element:active {
    background-color: #8bac0f;
    transform: scale(1.035, 1.035);
    box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.5);
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    height: 400px;
    margin: 1px auto;
    border: 5px #dadada;
    border-radius: 5px;
    border-style: inset;
    grid-template-columns: auto;
    grid-template-rows: 2fr 2fr;
}

.selection {
    text-align: center;
    float: left;
    position: relative;
    background: #f6fff0;
    height: 30px;
    width: 480px;
    margin: 15px;
    padding: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px 4px grey;
    border: solid 2px grey;
    border-radius: 5px;
    transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.3s ease;
}

.selection:hover {
    border: solid 2px #c9c9c9;
    box-shadow: 0px 4px 4px 4px #bbbbbb;
    cursor: pointer;
    transform: scale(1.05);
}

.selection:active {
    box-shadow: inset 0px 5px 5px 5px rgb(166, 166, 166);
}

.selection-code {
    color: rgb(218, 218, 218);
    background: #241f22;
    text-align: left;
    height: 140px;
    width: 210px;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 4px 4px 4px grey;
    border: solid 2px grey;
    border-radius: 5px;
    transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.3s ease;
}

.selection-code:hover {
    border: solid 2px #c9c9c9;
    box-shadow: 0px 4px 4px 4px #bbbbbb;
    cursor: pointer;
    transform: scale(1.05);
}

.selection-code:active {
    box-shadow: inset 0px 5px 5px 5px rgb(166, 166, 166);
}

p {
    font-family: 'superhelio _regular', sans-serif;
    text-align: center;
    color: #26503e;
}

.interface-container {
    display: flex;
    flex-direction: row;
}

.ui-element {
    flex: 2;
    position: relative;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 2s infinite;
}

.next-question-button {
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 999;
    outline-offset: 4px;
    transition: filter 250ms;
}

.button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to bottom,
            #c32275 0%,
            #c32275 20%,
            #c32275 80%,
            #850848 100%);
    box-shadow: inset 0px 0px 3px 3px rgba(209, 111, 144, 0.648);
}

.next-question-button:hover {
    background: #f1439d;
    border-color: #cc267c;
    box-shadow: 0px 0px 5px 5px rgb(255, 179, 246);
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.next-question-button:hover .button-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.next-question-button:active .button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.next-question-button:hover .button-edge {
    transform: translateY(-2px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.next-question-button:active .button-edge {
    transform: translateY(1px);
    transition: transform 34ms;
    box-shadow: inset 0px 0px 3px 3px rgb(159, 28, 71);
}

.next-question-button:focus:not(:focus-visible) {
    outline: none;
}

.button-embedded {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #d5d5d5;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: -1;
}

.toggle-code-button {
    position: absolute;
    width: 80px;
    height: 20px;
    border: 3px #d3d3d3;
    border-style: groove;
    border-radius: 20px;
    background: #aeaeae;
    cursor: pointer;
    top: 114%;
    left: 44%;
}

.toggle-code-button:hover {
    background: #808080;
    border-color: #d1d1d1;
    box-shadow: 0px 0px 3px 3px rgb(245, 245, 245);
}

.toggle-code-button:active {
    box-shadow: inset 0px 0px 2px 2px rgb(74, 74, 74);
    border-radius: 20px;
}

#code-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D1D26;
    z-index: 9999;
    animation: fadeIn 1s forwards;
    box-shadow: inset 0px 0px 10px 5px rgba(178, 178, 178, 0.706);
}

.code-snippet {
    position: absolute;
    font-weight: bolder;
    color: white;
    text-align: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: auto;
    max-height: 80%;
    width: 90%;
    white-space: pre-wrap;
    margin: 0;
}

.d-pad {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 150px;
    /* Breite des dPad anpassen */
    height: 150px;
    /* Höhe des dPad anpassen */
    right: 40px;
    z-index: 999;
}

.d-pad button {
    position: absolute;
    width: 50px;
    /* Breite der Buttons anpassen */
    height: 50px;
    /* Höhe der Buttons anpassen */
    font-size: 24px;
    background-color: #444444;
    color: #626262;
    cursor: pointer;
    border-style: none;
    z-index: 999;
}

.d-pad #up {
    grid-row: 1;
    grid-column: 2;
    z-index: 999;
    border-radius: 7px 7px 0px 0px;
}

.d-pad #up:hover, .d-pad #left:hover, .d-pad #right:hover, .d-pad #down:hover {
    background-color: #525252;
}

.d-pad #up:active {
    box-shadow: inset 0px 8px 2px 2px rgb(39, 39, 39);
}

.d-pad #left {
    grid-row: 2;
    grid-column: 1;
    border-radius: 7px 0px 0px 7px;
    box-shadow: inset 1px -6px 1px 0px rgb(39, 39, 39);
}

.d-pad #left:active {
    box-shadow: inset 0px 3px 1px 0px rgb(39, 39, 39);
}

.d-pad #center {
    grid-row: 2;
    grid-column: 2;
    background-color: #444444;
}

.d-pad #center-top {
    grid-row: 2;
    grid-column: 2;
    background-color: #353535;
    border-radius: 50%;
    z-index: 999;
}

.d-pad #right {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0px 7px 7px 0px;
    box-shadow: inset -1px -6px 1px 0px rgb(39, 39, 39);
}

.d-pad #right:active {
    box-shadow: inset 0px 3px 1px 0px rgb(39, 39, 39);
}

.d-pad #down {
    grid-row: 3;
    grid-column: 2;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0px -6px 2px 2px rgb(39, 39, 39);
}

.d-pad #down:active {
    box-shadow: none;
}

#icon {
    filter: sepia(0.6);
}